{% extends "layout.html" %}
{% block body %}
<div class="small-11 small-centered medium-10 medium-centered large-8 large-centered columns">

	<form action="/processForm" enctype="multipart/form-data" method="POST">
		<div class="row">
			  <h1>Cory Wilson | SSL Lab 6</h1>
		</div>
		<div class="row">
			<div class="small-11 small-centered columns">
				<input type="text" name="name" placeholder="Name" value=""/>
			</div>
		</div>
		<div class="row">
			<div class="small-11 small-centered columns">
				<input type="password" name="password" placeholder="Password" value=""/>
			</div>
		</div>
		<div class="row">
			<div class="small-11 small-centered columns">
				<input type="file" name="file" />
			</div>
		</div>
		<div class="row">
			<button type="submit" class="small-8 small-centered medium-7 large-6 columns">
				Submit
			</button>
		</div>
	</form>
</div>
{% endblock %}