<!doctype html>
<title>Cory Wilson | SSL Lab 7</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='foundation.min.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
<script src="//use.typekit.net/jpd4eaw.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
<div class=page>
  <nav class="icon-bar two-up">
    <a href="/">
      <label>Home</label>
    </a>
    <a href="/form">
      <label>Form</label>
    </a>
  </nav>
  {% block body %}
    <div class="body small-11 small-centered medium-10 medium-centered large-8 large-centered columns">
    </div>
  {% endblock %}
</div>